html, body{
    height: 100%;
}

body{
    background-color: #002c54;
}

header{
    min-height: 80px;
    background-color: #16253d;
    display: flex;
    align-items: center;
    border-bottom: 2px #efb509 solid;
    padding: 0 5%;

    .logo{
        width: 80px;
        height: 80px;
    }

    .page_header{
        color: white;
        font-size: 25px;
    }
}

main{
    padding-top: 3%;
    width: 90%;
    margin-left: 5%;

    .brief_description{
        display: flex;
        justify-content: space-around;


        .app_img{
            width: 55%;
    
            img{
                width: 100%;
                border-radius: 5px;
            }
        }
    
        .app_abilities{
            width: 43%;
            padding: 0.5% 4%;
            list-style-type: square;
    
            .abilities_header{
                text-align: center;
                color: white;
                font-size: 23px;
                font-weight: bolder;
                margin-bottom: 5%;
            }
            
            .ability{
                i{
                    color: #efb509;
                }
                color: white;
                margin-top: 2%;
                font-size: 20px;
                line-height: 1.2em;
            }
        }


        .download_block{
            margin-top: 2%;
    
            .download_options{
                display: flex;
                justify-content: center;
                color: white;
    
                .os_link{
                    display: flex;
                    flex-direction: column;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 5%;
                    background-color: #16253d;
                    padding: 2%;
                    border-radius: 10px;
                    margin-left: 3%;
                    width: 30%;
                    cursor: pointer;

                    &:hover{
                        color: #efb509;
                    }
                }
            }
        }


    }



}